<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-context=1.0"></meta>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<style type="text/css">
	.page-header{
		background-color: #FFFFFF;
		color: #4099FF;
	}
	
</style>	
<title>NConnect</title>
</head>
<body>
	<div class="container">
		<h1 class="page-header">
			NConnect<!-- <span class="small"><em> where techies connect</em></span> -->
		</h1>
		<div class="col-sm-8">
			
		</div>
		<div class="col-sm-4">
			<form method="POST">
				<div class="form-group">
					<input type="text" name="name" class="form-control" placeholder="Enter Username"/>
				</div>
				<div class="form-group">
					<input type="password" name="password" class="form-control" placeholder="Enter Password"/>
				</div>
				<div class="form-group">
					<button class="form-control" type="submit">Login</button>
				</div>
				<div class="form-group">
					<a href="/app/sample">Not a Member?</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>